
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 1100px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

img {
    width: 100%;
    display: block;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

/* --- Шапка сайта (Header) --- */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 0 50px;
    margin-bottom: 80px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    padding-left: 24px;
    margin: 0;
}

.header__links-list-item_nobullet {
    list-style-type: none;
    padding-left: 0;
}

.header__link {
    color: #000;
    font-size: 18px;
    text-transform: uppercase; /* Текст изменён на заглавные буквы */
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    justify-self: center;
    display: block;
}

.header__logo img {
    width: 148px;
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 1.35;
}

.header__address {
    justify-self: end;
    max-width: 240px;
}


.cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    padding: 165px 50px 50px;
    margin-bottom: 180px;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.15;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    display: block;
    text-align: center;
}

.aligned-text_right {
    display: block;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 18px;
    margin: 0;
    max-width: 550px;
}

.bet-button {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
}


.lots {
    padding: 0 50px;
    margin-bottom: 180px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 27px;
    padding-left: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
}

.lots__card-list-item {
    flex: 1;
}

.card-link {
    text-decoration: none;
    display: block;
    height: 100%;
}

.card {
    position: relative;
    padding: 50px 40px;
    min-height: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0 0 30px;
    line-height: 1.2;
}

.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    line-height: 1.2;
}

.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;
    color: #000;
}


.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    padding: 0 50px;
    margin-bottom: 180px;
    align-items: start;
}

.about__column:first-child {
    display: flex;
    justify-content: center;
}

.about__logo {
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__logo img {
    width: 148px;
}

.about__column:last-child {
    display: flex;
    flex-direction: column;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 24px;
}

.about__text p {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 24px;
}

.about__text p:last-child {
    margin-bottom: 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0 50px 60px;
}

.footer .address {
    max-width: 240px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer__menu-list-item {
    margin-bottom: 8px;
}

.footer__menu-list-item:last-child {
    margin-bottom: 0;
}

.footer__menu-link {
    color: #000;
    font-size: 18px;
    text-transform: uppercase; 
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-self: end;
    padding: 0;
    margin: 0;
    align-items: center;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}